*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.wrapper {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.main{
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

